


  img {
   
    position: relative;
    left: 650px;
    transform: translateY(-10%);
    animation-name: Appearance;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.1,-.6,.2,0);
  }

  @-webkit-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-o-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-moz-keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes Appearance {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }


a {
    color: rgb(184, 105, 16);

}






body {

    background-image: url("images/fon.jpg");
}
